---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i');
@import url('https://fonts.googleapis.com/css?family=Raleway:500,700');

body {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 13px;
	background: #fff;
}

.nav-wrapper {
	height: 56px;
	border-bottom: 1px solid #ebebeb;
	background-color: #fff;
	line-height: 54px;
	margin-bottom: 56px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;

	.nav {
		position: relative;
	}

	.right {
		float:right;
		text-align: right;
	}

	a {
		color: #111;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 12px;
		letter-spacing: 0.02em;
		font-weight: 600;

		&.stories {
			margin-right: 24px;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.site-logo {
	display: block;
	height: 56px;
	width: 56px;
	background: #ffffff url('/assets/l-mark.svg') no-repeat center;
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	margin: auto;
}

h1, h2, h3 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

h1, h2 {
	font-size: 2.2em;
	font-weight: 700;
	margin-bottom: 0px;

	a, a:visited {
		color: #111;
		text-decoration: none;
	}
}

h2 {
	font-size: 1.7em;
	font-weight: 700;
	text-align:center;
}

h3 {
	font-size: 13px;
	color: #96A2AC;
	font-weight: 500;
	margin-bottom: 32px;
}

section {
	p {
		font-family: 'Merriweather', Georgia, serif;
		font-size: 1.4em;
		line-height: 1.9em;
		margin-bottom: 1.7em;
		font-weight: 300;

		img {
			display: block;
			margin: auto;
			max-height: 400px;
			width: auto;	
		}
	}

	p:first-of-type::first-letter {
	   font-size: 3.45em;
	   float: left;
	   line-height: 3.8rem;
	   padding-right: 6px;
	   margin-top: 4px;
	}
}

footer {
  border-top: 1px solid #ebebeb;
  text-align: center;
  padding: 32px 0px;
	  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-weight: 600;

  a, a:visited {
  	color: #111;
  	text-decoration: underline;
  }
  .insta {
  	display: block;
  	width: 48px;
  	height: 48px;
  	background: url('/assets/instagram.png') no-repeat center;
  	background-size: 55%;
  	text-align: center;
  	margin: 0 auto;
  }
}

hr {
	display: block;
	width: 64px;
	height: 8px;
	color: #000;
	background-color: #000;
	margin: 44px auto 56px;
	border: none;
}

.content-wrapper, .nav {
	margin: 0 auto;
	max-width: 56em;
}

.site-branding {
	text-align: center;
	background: url('/assets/ll-logo.svg') no-repeat center;
	height: 128px;
	margin: 56px 0;
}

section.post {
	margin-top: 32px;
}

.post-link {
	display: inline-block;
	font-size: 13px;
}

.post-list {
	margin: 0 auto;

	> li {
	    margin-bottom: 0;
	    line-height: auto;
	    padding: 20px 0px 20px 0px;
	  }

  a {
		color: #111;
  		display: -webkit-box;
    	display: -moz-box;
    	display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-align-items: baseline;
	    -moz-align-items: baseline;
	    -ms-align-items: baseline;
	  	align-items: baseline;
	  	justify-content: space-between;
	    font-size: 2.2em;
	    font-weight: 700;
	    margin-bottom: 0px;	

  	&:hover {
  		text-decoration: underline;
  	}
  }

  h3 {
  	margin-bottom: 0px;
  }

  .post-meta {
  	font-size: 13px;
  	color: #96A2AC;
  	font-weight: 500;
    font-family: 'Raleway';
  }
}

@media only screen and (max-width: 774px) {
  .nav, .content-wrapper {
	  padding: 0 24px;
	}
	.nav-wrapper {
		margin-bottom: 40px;
	}
	h1 {
		font-size: 1.8em;
	}
	section > p {
		font-size: 1.2em;
		line-height: 1.8em;
	}
	section > p:first-of-type::first-letter {
		 font-size: 3.4em;
		 float: left;
		 line-height: 3.4rem;
		 padding-right: 4px;
		 margin-top: 1px;
	}
	hr {
		width: 64px;
		height: 4px;
		color: #000;
		background-color: #000;
		margin: 34px auto 40px;
		border: none;
	}
}

@media only screen and (max-width: 400px) {
	.site-logo {
		display: none;
	}
}



